<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<!-- 配置信息 -->
	<bean class="com.hengyu.ticket.config.TicketConfig" id="ticketConfig">
		<property name="ticketTime" value="15"/>
		<property name="domain" value="http://www.jcticket.com/"/>
		<!--<property name="domain" value="http://192.168.4.176/ticket/"/>-->
		<property name="debug" value="true"/>
		<property name="wxmsg">
			<map>
				<entry key="coupon_first" value="您已收到捷乘巴士红包一个"/>
				<entry key="coupon_remark" value="感谢使用捷乘巴士！"/>
				<entry key="coupon_template" value="qBJigB91To5kvM00-pMKuQJsY9wNxO7KJWVPPyIBaNM"/>
				<entry key="coupon_url" value="http://jcticket.com/wx/coupon.html?hide_desc=1"/>
				<!--<entry key="order_detail_url" value="http://jcticket.com/wx/order_detail.html?orderid={0}"/>-->
				<entry key="order_detail_url" value="http://ww1049292751.6655.la/ticket/wx/order_detail.html?orderid={0}"/>
				<entry key="color" value="#173177"/>
				<entry key="buyfailure_template" value="hTB8r_4w-SvpsPO2aDiiOyzGP8OzBoLnY12A4XDgi4E"/>
				<entry key="buy_success_template" value="XZ7pk0ZxZxb5Xcjn6ptVf6DBiYzHleHZ3caoWO4epHs"/>
				<entry key="buy_success_first" value=""/>
				<entry key="buy_success_remark" value="祝您旅途愉快！"/>
			</map>
		</property>
	</bean>

	<bean class="com.hengyu.ticket.config.WXSubscribe">
		<property name="picurl" value="https://mmbiz.qlogo.cn/mmbiz/K9YGwVib4dhHC1CvyCw92jvW6t2GicCaJaI5ktKJEAjLwH41ibHABznnchRQGtbvaxwGHcILHYLJTEMowiaXD6qf4Q/0?wx_fmt=jpeg"></property>
		<property name="url" value="http://mp.weixin.qq.com/s?__biz=MzIyMjEwMTE0OA==&amp;mid=402797775&amp;idx=1&amp;sn=e2adfb2d97aa47c41ba64e21bf52c87f&amp;scene=0#wechat_redirect"></property>
		<property name="title" value="“捷乘巴士”正式上线啦！ "></property>
		<property name="desc" value="从前的车牛马都慢，一生只够爱一个人~ 现在的交通太拥挤，我们才更需要“捷乘”"></property>
		<property name="items">
			<list>
				<map>
					<entry key="PicUrl" value="https://mmbiz.qlogo.cn/mmbiz/K9YGwVib4dhHRzw9EK6r3vlhAqdyBHreVx3rrVqMISjdlO3tTzg5iaiawnicZsTNryj5mho8RazGtQnld7fQUlPOuw/0?wx_fmt=jpeg"/>
					<entry key="Url" value="http://mp.weixin.qq.com/s?__biz=MzIyMjEwMTE0OA==&amp;mid=403993849&amp;idx=1&amp;sn=de3e047bf1cbeb021077b48dd989d999&amp;scene=0#wechat_redirect"/>
					<entry key="Title" value="动态 | 最新的优惠攻略 ~ 快点击查看  "/>
					<entry key="Description" value=""/>
				</map>
				<map>
					<entry key="PicUrl" value="https://mmbiz.qlogo.cn/mmbiz/K9YGwVib4dhHRzw9EK6r3vlhAqdyBHreVlN8JxOFHl7PBZMHXGSt4ic7re1tWwOz4xUwEDwk68xAKJaPABsoNhww/0?wx_fmt=jpeg"/>
					<entry key="Url" value="http://mp.weixin.qq.com/s?__biz=MzIyMjEwMTE0OA==&amp;mid=403993849&amp;idx=2&amp;sn=86891a86aad21e63deb477d073271f3d&amp;scene=0#wechat_redirect"/>
					<entry key="Title" value=""/>
					<entry key="Description" value=""/>
				</map>
				<map>
					<entry key="PicUrl" value="https://mmbiz.qlogo.cn/mmbiz/K9YGwVib4dhHRzw9EK6r3vlhAqdyBHreVaYDNFb6GwXJcf3hSXKMKibIE1Ktnib9Px5hfxib6h3M1MgyjGJO0FgPwQ/0?wx_fmt=jpeg"/>
					<entry key="Url" value="http://mp.weixin.qq.com/s?__biz=MzIyMjEwMTE0OA==&amp;mid=403993849&amp;idx=3&amp;sn=fa5a1d034eaf90665898c2823e91ec48&amp;scene=0#wechat_redirect"/>
					<entry key="Title" value=""/>
					<entry key="Description" value=""/>
				</map>
			</list>
		</property>
	</bean>

</beans>
