@charset "utf-8";
body{
	margin: 0 0;
	padding: 0 0;
	font-family: 微软雅黑,黑体;
}
div.ui-sortable{
	float: left;height: initial;cursor:move;
}
.cell_mod{
	display: inline-block;margin-right: 10px;color: #888;
}
.cell{
	border: 1px solid #ddd;line-height: 30px;margin-top: 10px;
}
.cont{
	width: 160px;overflow: auto;border-top: 2px solid #ff6700;padding-bottom: 40px;
}
.index{
	display: inline-block;float: left;background-color: #009579;color: #ffffff;width: 30px;
}
.tit{
	text-align: center;line-height: 30px;border: 1px solid #ccc;border-bottom: 0px;color: #555;
}
.main_tit{
	line-height: 80px;height: 80px;
}
.main_tit img{
	vertical-align: middle;
}
.save_btn,.review_btn{
	display: inline-block;width: 100px;height: 50px;line-height: 50px;text-align: center;border: 1px solid #ccc;border-radius: 5px;cursor: pointer;color: #666;
}
.save_btn:hover,.review_btn:hover:hover{
	background-color: #ddd;
}
.active{
	background-color: #fff;
	color: #FF723F;
	border-left: 2px solid #FF723F;
	line-height: 30px;
	height: 30px;
	width: 120px;
	text-align: center;
	cursor: pointer;
}
.tab{
	background-color: #ddd;
	border:1px solid #ccc;
	line-height: 30px;
	height: 30px;
	width: 120px;
	text-align: center;
	cursor: pointer;
}

.d_cont{
	display: inline-block;float:left;margin-left: 100px;
}